<div class="bg-cover bg-no-repeat bg-center flex flex-column align-items-center justify-content-center min-h-screen overlay-container"
    style="background-image: url('../../../assets/images/bg-error.jpg'); background-color: #007bff;">
    <div class="flex flex-column align-items-center">
        <!-- Logo -->
        <img src="../../../assets/images/logo.png" alt="logo" class="mb-4 w-8">

        <!-- Message -->
        <h1 class="text-6xl text-white mb-2">ERROR</h1>
        <p class="text-white mb-4">Something went wrong.</p>

        <!-- Button -->
        <button class="p-button p-component p-button-primary" (click)="goToDashboard()">
            <span class="p-button-label">Go to Dashboard</span>
        </button>
    </div>
</div>