<div class="card flex justify-content-center">
    <p-dialog 
        header="Session Expired" 
        [visible]="true" 
        [modal]="true" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{ width: '50vw' }" 
        [draggable]="false" 
        [resizable]="false">
            <p>
                To continue enjoying the dashboard functionalities, please log in again.
            </p>
            <p-footer>
                <button pButton label="Log Out" icon="pi pi-sign-out" class="mt-2" (click)="logout()"></button>
            </p-footer>
    </p-dialog>
</div>